@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.card-accomodation {
  padding: 0 100px;
  margin: 50px 0;
}
.card-accomodation .card-collapse {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-info {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
.card-info .card-info-avatar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.container {
  width: 100%;
  border-radius: 25px;
  background: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}
.container .cards-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: flex-start;
  align-items: center;
  padding: 50px;
}

.error {
  display: flex;
  flex-direction: column;
  gap: 90px;
  margin: 90px 0;
  justify-content: center;
  align-items: center;
}
.error .error-title {
  color: #ff6060;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 288px;
  font-style: normal;
  font-weight: 700;
}
.error .error-text {
  color: #ff6060;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}
.error .error-redirect {
  color: #000000;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.error .error-redirect:active {
  text-decoration: underline;
}

.footer {
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 66px 0px 29px 0px;
  align-items: center;
  gap: 60px;
}
.footer p {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 45px 100px 50px 100px;
}
.navbar img {
  height: 68px;
}
.navbar .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.links > a {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  text-decoration: none;
}
.links > a:active {
  text-decoration: underline;
}

.avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.avatar .avatar-name {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  color: #ff6060;
  text-align: right;
}
.avatar .avatar-picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.banner {
  width: 100%;
  height: 223px;
  border-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.banner h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-item {
  width: 340px;
  height: 340px;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
}
.card-item h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  color: white;
  padding: 20px;
  margin: 0;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.collapse {
  width: 100%;
}

.collapse-item {
  background-color: #ff6060;
  padding: 10px 20px 10px 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.collapse-item h2 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  margin: 0;
}
.collapse-item svg {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  cursor: pointer;
}

.collapse-text {
  background-color: #f6f6f6;
  height: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 142.6%;
}

.collapse-text.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 142.6%;
}

.collapse-content {
  padding: 10px 20px 10px 15px;
}

.rating {
  display: flex;
  flex-direction: row;
  gap: 15px;
  font-size: 24px;
}
.rating .rating-full {
  color: #ff6060;
}
.rating .rating-empty {
  color: #e3e3e3;
}

.slideshow {
  height: 415px;
  width: 100%;
  border-radius: 25px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slide {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  overflow: hidden;
}

.center {
  display: flex;
  align-items: center;
}

.center-hidden {
  display: none;
}

.slide-hidden {
  display: none;
}

.arrow {
  position: absolute;
  font-size: 60px;
  color: white;
}
.arrow:hover {
  cursor: pointer;
}

.arrow-hidden {
  display: none;
}

.arrow-left {
  left: 1rem;
}

.arrow-right {
  right: 1rem;
}

.indicators {
  position: absolute;
  bottom: 1rem;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

.indicators-hidden {
  display: none;
}

.tags {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.tag {
  padding: 0 10px;
  height: 25px;
  border-radius: 10px;
  background-color: #ff6060;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.card-title h1 {
  color: #ff6060;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  margin: 0;
}
.card-title .location {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

.about-collapses {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin: 38px 0;
}
.about-collapses .about-collapse {
  width: 100%;
}

.about {
  padding: 0 100px;
}

.link-card {
  text-decoration: none;
}

.home {
  padding: 0 100px;
}/*# sourceMappingURL=main.css.map */