// spacing
$spacing-xxs: 10px;
$spacing-xs: 15px;
$spacing-mobile: 20px;
$spacing-s: 30px;
$spacing-m: 60px;
$spacing-l: 90px;

// colors
$main-color: #ff6060;
$secondary-color: #000000;
$background-color: #f6f6f6;
$grey: #e3e3e3;

// media queries
$breakpoint-mobile: 319px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-xl-desktop: 1441px;
