.about-collapses {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: $spacing-s;
  margin: 38px auto;

  .about-collapse {
    width: 100%;
  }

  @media only screen and (min-width: $breakpoint-xl-desktop) {
    width: 1240px !important;
  }

  @media only screen and (min-width: $breakpoint-mobile) and (max-width: 767px) {
    gap: $spacing-mobile;
    margin: 19px auto;
  }
}

.about {
  padding: 0 100px;

  .banner {
    box-shadow: none;
  }

  @media only screen and (min-width: $breakpoint-mobile) and (max-width: 767px) {
    padding: 0 $spacing-mobile;
  }
}
