.card-item {
  width: 340px;
  height: 340px;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;

  h2 {
    @include text-small;
    color: white;
    padding: 20px;
    margin: 0;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  }

  @media only screen and (min-width: $breakpoint-mobile) and (max-width: 767px) {
    height: 255px;
    width: 335px !important;
  }
}
