.collapse {
  width: 100%;
}

.collapse-item {
  background-color: $main-color;
  padding: 10px 20px 10px 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    color: white;
    @include text-bold-p;
    margin: 0;
  }

  svg {
    color: white;
    @include text-bold-p;
    cursor: pointer;
  }
}

.collapse-text {
  background-color: $background-color;
  height: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);

  @include text-xs-light;
  line-height: 142.6%;
}

.collapse-text.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);

  @include text-xs-light;
  line-height: 142.6%;
}

.collapse-content {
  padding: 10px 20px 10px 15px;
}
