.dropdown-item {
  background-color: $main-color;
  width: 1023px;
  padding: 10px 20px 10px 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  h2 {
    color: white;
    @include text-bold-p;
    margin: 0;
  }

  svg {
    color: white;
    @include text-bold-p;
  }
}

.dropdown-text {
  width: 1058px;
  background-color: $background-color;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);

  p {
    padding: $spacing-xs;
    margin: 0;
    @include text-xs;
  }
}

.dropdown-text.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}
