.tags {
  display: flex;
  flex-direction: row;
  gap: $spacing-xxs;
}

.tag {
  padding: 0 10px;
  height: 25px;
  border-radius: 10px;
  background-color: $main-color;
  color: white;
  @include text-tag;
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (min-width: $breakpoint-mobile) and (max-width: 767px) {
    @include text-tag-mobile;
  }
}
