.card-title {
  display: flex;
  flex-direction: column;
  gap: $spacing-xxs;
  margin-bottom: 20px;

  h1 {
    color: $main-color;
    @include text-medium;
    margin: 0;

    @media only screen and (min-width: $breakpoint-mobile) and (max-width: 767px) {
      @include text-xs;
      margin-top: $spacing-xs;
    }
  }

  .location {
    color: $secondary-color;
    @include text-xs;

    @media only screen and (min-width: $breakpoint-mobile) and (max-width: 767px) {
      @include text-medium-mobile;
    }
  }

  @media only screen and (min-width: $breakpoint-mobile) and (max-width: 767px) {
    margin-bottom: $spacing-xs;
  }
}
