.card-accomodation {
  padding: 0 100px;

  .card-collapse {
    display: flex;
    flex-direction: row;
  }
}

.card-info {
  display: flex;
  justify-content: space-between;
  margin: $spacing-s 0;
}
