.card-accomodation {
  padding: 0 100px;
  margin: 50px 0;

  .card-collapse {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .card-collapse-item {
      width: 45%;

      @media only screen and (min-width: $breakpoint-mobile) and (max-width: 767px) {
        width: 100%;
      }
    }

    @media only screen and (min-width: $breakpoint-mobile) and (max-width: 767px) {
      flex-direction: column;
    }
  }

  @media only screen and (min-width: $breakpoint-mobile) and (max-width: 767px) {
    padding: 0 $spacing-mobile;
    margin: 27px 0;
  }
}

.card-info {
  display: flex;
  justify-content: space-between;
  margin: $spacing-s 0;

  .card-info-avatar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    @media only screen and (min-width: $breakpoint-mobile) and (max-width: 767px) {
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }
  }

  @media only screen and (min-width: $breakpoint-mobile) and (max-width: 767px) {
    flex-direction: column;
  }
}
