.card-accomodation {
  padding: 0 100px;
  margin: 50px 0;

  .card-collapse {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.card-info {
  display: flex;
  justify-content: space-between;
  margin: $spacing-s 0;

  .card-info-avatar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
}
