.navbar {
  display: flex;
  justify-content: space-between;
  padding: 45px 100px 50px 100px;

  img {
    height: 68px;
  }

  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
  }
}

.links > a {
  color: $secondary-color;
  @include text-p;
  text-decoration: none;

  &:active {
    text-decoration: underline;
  }
}
